.body {
    background-color: #E6CBBF;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.header {
    background-color: #B2755E;
    font-size: x-large;
    width: 275px;
    border-radius: 5px;
    outline-style: solid;
    outline-width: 1px;
    margin-top: 60px;
}

.infoPanel {
    background-color: #B2755E;
    text-align: center;
    width: 800px;
    height: 1000px;
    margin-top: 60px;
}

.background-image {
    border-radius: 5px;
}

.card-body {
    background-color: #E6CBBF;
}
