.body {
    background-color:  #DBE3C7;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.header {
    background-color: white;
    color: #779730;
    font-size: x-large;
    width: 275px;
    border-radius: 5px;
    margin-top: 50px;
}

.infoPanel {
    display: grid;
    background-color: white;
    text-align: center;
    min-width: 300px;
    max-width: 900px;
    min-height: 1000px;
    max-height: 1200px;
    margin-top: 45px;
    margin-bottom: 60px;
}

.background-image {
    border-radius: 5px;
}

.card-body {
    background-color: #DBE3C7;
}
