/* Stylesheet for about us page */
.body {
    background-color:  #DBE3C7;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.header {
    background-color: white;
    color: #779730;
    font-size: xx-large;
    width: 275px;
    border-radius: 5px;
    margin-top: 40px;
}

.infoPanel {
    background-color: white;
    text-align: center;
    width: auto;
    height: auto;
    margin-top: 45px;
    margin-bottom: 60px;
}

.background-image {
    border-radius: 5px;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DBE3C7;
    color: #779730;
    font-size: x-large;
}

.benefits-panel {
    background-color: white;
    color: #779730;
    width: 2000px;
}