/* Stylesheet for home page*/
.bulukutu-text-color {
    color: #779730;
}

.carousel-panel {
    background-color: white;
    width: 100%;
}

.bulukutu-quote {
    color: #779730;
    font-family: REFINMENT, Serif;
}

.carousel-size {
    min-width: 500px;
    max-width: 100vw;
}

.info-panel {
    margin: auto;
    background-color: white;
    min-width: 50%;
    max-width: 70rem;
}

.info-img {
    min-width: 70%;
    max-width: 100%;
    height: 340px;
    border-radius: 5px;
    margin: 5px;
}